@model SISSDV1.Models.Firewall

@{
    ViewBag.Title = "Deletar";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.Cookies["Acesso"] == null)
    {
        Response.Redirect("Index");
    }
}


<br />
<!-- Section -->
<section class="card">
    <header class="card-header" data-background-color="green">
        @Model.Modelo
    </header>
    <div class="card-body table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Unidade.Cidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Unidade.NomeUnidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Modelo)</th>
                    <th>@Html.DisplayNameFor(model => model.Licenca)</th>
                    <th>@Html.DisplayNameFor(model => model.AcessoInterno)</th>
                    <th>@Html.DisplayNameFor(model => model.AcessoExterno)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>@Html.DisplayFor(model => model.Unidade.Cidade)</th>
                    <td>@Html.DisplayFor(model => model.Unidade.NomeUnidade)</td>
                    <td>@Html.DisplayFor(model => model.Modelo)</td>
                    <td>@Html.DisplayFor(model => model.Licenca)</td>
                    <td>@Html.DisplayFor(model => model.AcessoInterno)</td>
                    <td>@Html.DisplayFor(model => model.AcessoExterno)</td>
                </tr>
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm("Delete", "Firewalls", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="form-actions text-center">
            <input type="submit" value="Confirmar" class="btn btn-Denger btn-sm" /> |
            @Html.ActionLink("Voltar", "Index", "Firewalls", new { @class = "btn btn-primary btn-sm" })
        </div>
    }
</section>
<br />
