@model SISSDV1.Models.Link

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<!-- Section -->
<section class="card">
    <header class="card-header" data-background-color="green">
        @Model.Operadora.NomeOperadora
    </header>
    <div class="card-body table-responsive">

        <table class="table table-hover">
            <thead>
                <tr class="text-success">
                    <th>@Html.DisplayNameFor(model => model.Operadora.NomeOperadora)</th>
                    <th>@Html.DisplayNameFor(model => model.Unidade.NomeUnidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Designacao)</th>
                    <th>@Html.DisplayNameFor(model => model.CodigoCliente)</th>
                    <th>@Html.DisplayNameFor(model => model.Capacidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Tipo)</th>
                    <th>@Html.DisplayNameFor(model => model.Operadora.Contato)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Operadora.NomeOperadora)</td>
                    <td>@Html.DisplayFor(model => model.Unidade.NomeUnidade)</td>
                    <td>@Html.DisplayFor(model => model.Designacao)</td>
                    <td>@Html.DisplayFor(model => model.CodigoCliente)</td>
                    <td>@Html.DisplayFor(model => model.Capacidade)</td>
                    <td>@Html.DisplayFor(model => model.Tipo)</td>
                    <td>@Html.DisplayFor(model => model.Operadora.Contato)</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDLink }) |
    @Html.ActionLink("Voltar", "Index")
</p>
