@model SISSDV1.Models.Operadora

@{
    ViewBag.Title = "Detalhes Operadora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<br />
<!-- Section -->
<section class="card">
    <header class="card-header" data-background-color="green">
        @Model.NomeOperadora
    </header>
    <div class="card-body table-responsive">

        <table class="table table-hover">
            <thead>
                <tr class="text-success">
                    <th>@Html.DisplayNameFor(model => model.NomeOperadora)</th>
                    <th>@Html.DisplayNameFor(model => model.Contato)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.NomeOperadora)</td>
                    <td>@Html.DisplayFor(model => model.Contato)</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDOperadora }) |
    @Html.ActionLink("Voltar", "Index")
</p>