@model SISSDV1.Models.Unidade

@{
    ViewBag.Title = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.Cookies["Acesso"] == null)
    {
        Response.Redirect("Index");
    }
}

<br />
<!-- Unidade Section -->
<section class="card">
    <header class="card-header" data-background-color="green">
        @Model.NomeUnidade
    </header>
    <div class="card-body table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Cidade)</th>
                    <th>@Html.DisplayNameFor(model => model.NomeUnidade)</th>
                    <th>@Html.DisplayNameFor(model => model.TelefoneUnidade)</th>
                    <th>@Html.DisplayNameFor(model => model.SiteCode)</th>
                    <th>@Html.DisplayNameFor(model => model.Endereco)</th>
                    <th>@Html.DisplayNameFor(model => model.RazaoSocial)</th>
                    <th>@Html.DisplayNameFor(model => model.CNPJ)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Cidade)</td>
                    <td>@Html.DisplayFor(model => model.NomeUnidade)</td>
                    <td>@Html.DisplayFor(model => model.TelefoneUnidade)</td>
                    <td>@Html.DisplayFor(model => model.SiteCode)</td>
                    <td>@Html.DisplayFor(model => model.Endereco)</td>
                    <td>@Html.DisplayFor(model => model.RazaoSocial)</td>
                    <td>@Html.DisplayFor(model => model.CNPJ)</td>
                </tr>
            </tbody>
        </table>
    </div>

    @using (Html.BeginForm("Delete", "Unidades", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <br />
        <div class="form-actions text-center">
            @Html.ActionLink("Voltar", "Index", "Unidades", new { @class = "btn btn-primary btn-sm" }) |
            <input type="submit" value="Confirmar" class="btn btn-danger btn-sm" /> 
        </div>
    }
</section>
<br />