@model SISSDV1.Models.Servidor

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<!-- Section -->
<section class="card">
    <header class="card-header" data-background-color="green">
        @Model.Hostname
    </header>
    <div class="card-body table-responsive">

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.Unidade.Cidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Unidade.NomeUnidade)</th>
                    <th>@Html.DisplayNameFor(model => model.Hostname)</th>
                    <th>@Html.DisplayNameFor(model => model.IP)</th>
                    <th>@Html.DisplayNameFor(model => model.Descricao)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Html.DisplayFor(model => model.Unidade.Cidade)</td>
                    <td>@Html.DisplayFor(model => model.Unidade.NomeUnidade)</td>
                    <td>@Html.DisplayFor(model => model.Hostname)</td>
                    <td>@Html.DisplayFor(model => model.IP)</td>
                    <td>@Html.DisplayFor(model => model.Descricao)</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IDServidor }) |
    @Html.ActionLink("Voltar", "Index")
</p>

