@model SISSDV1.Models.User
@{
    Layout = null;
}
<div class="modal-dialog modal-content card" style="width: auto; height:auto; max-height: 100%;">
    <div class="card-header" data-background-color="green">
        <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">×</span><span class="sr-only">Fechar</span>
        </button>
        Resultado Dados Comparados
    </div>
    <div class="modal-body card-body text-center">
        @if (ViewBag.Result == "Certo")
        {
            <p>Todos os Dados do Usuário estão Corretos.</p>
            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Fechar</button>            
        }
        else if (ViewBag.Result == "Errado")
        {
            <form id="form-confirma" method="post">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Chapa, new { name = "chapauserc", id = "chapauserc" })
                
                <p>@ViewBag.Nome</p>
                <p>@ViewBag.Cargo</p>
                <p>@ViewBag.Departamento</p>
                <p>@ViewBag.CPF</p>
                <p>@ViewBag.Unidade</p>

                <div class="row">
                    <div class="text-center" style="margin-top: 2%;">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Corrigir" class="btn btn-primary btn-sm" id="Corrigir" />
                    </div>
                </div>
            </form>
        }
        else if (ViewBag.Result == "FuncDesligado")
        {
            <form id="form-desativa" method="post">

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.Chapa, new { name = "chapauserc", id = "chapauserc" })

                <p>Usuário Não Existe no RM!</p>
                <p>Deseja Desativa-lo no AD?</p>

                <div class="row">
                    <div class="text-center" style="margin-top: 2%;">
                        <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Desativar" class="btn btn-primary btn-sm" id="Desativar" />
                    </div>
                </div>
            </form>            
        }
    </div>
    <div class="modal-footer card-footer">
    </div>
</div><!-- /.modal-content -->
<script>
var formconfirma = $("#form-confirma");
formconfirma.submit(function Corrigir() {
    var url = "Corrigir";
    var chapa = $("#chapauserc").val();
    //debugger;
    $.ajax({
        method: "POST",
        url: url,
        data: { chapa },
        cache: false,
        beforeSend: function (xhr) {
            $("#modalVerificaResult").modal("hide");
            $("#modalVerificar").html('<div class="loading text-center p-40" style="position: absolute;left: 50%;top: 50%;"><img src="../img/load.gif" height="80" width="80"/></div>');
        },
        success: function () {
            ModalSucesso();
        },
        error: function () {
            ModalErro();
        }
    });
    return false;
});


var formDesativa = $("#form-desativa");
formDesativa.submit(function DesativarUserDesligado() {
    var url = "DesativarUserDesligado";
    var chapa = $("#chapauserc").val();
    //debugger;
    $.ajax({
        method: "POST",
        url: url,
        data: { chapa },
        cache: false,
        beforeSend: function (xhr) {            
            $("#modalVerificaResult").html('<div class="loading text-center p-40" style="position: absolute;left: 50%;top: 50%;"><img src="../img/load.gif" height="80" width="80"/></div>');
        },
        success: function () {
            $("#modalVerificaResult").modal("hide");
            ModalSucesso();
        },
        error: function () {
            ModalErro();
        }
    });
    return false;
});
</script>